@font-face {
  font-family: Chomsky;
  src: url("Chomsky.otf") format("opentype");
}

:root {
        --color1: white;
        --color2: black;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color2);
}

a{
text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

a.menu {
  color: var(--color1);
}

img {
  
}

figure {
  text-align: center;
  margin: 20px 0;
}

video {
  height: auto;
}

.header {
  
  font-family: 'Castoro Titling', serif;
  background-color: var(--color2);
  color: var(--color1);
  margin-left:1vw;
  margin-right:1vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  width: 98vw;
  float: left;
}

.header-image {
  margin-bottom: 4vh;
}

.menu-item {
  float: left;
  margin-right: 30px;
  font-family: 'Castoro Titling', serif;
}

.content {
  font-family: "Computer Modern Serif", serif;
  margin: 0;
  margin-left:1vw;
  margin-right:1vw;
  width: 98vw;
  background-color: var(--color2);
  color: var(--color1);
}

.container {
  width: 98vw;
  border-top: 1px solid var(--color1);
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  background-color: var(--color2);
}

.sub-container {
  float: left;
  background-color: var(--color2);
  margin: 0;
  font-size: calc(min(24px, max(24px,1.5vw)));
  margin-right:1vw;
  margin-bottom: 4vh;
}

.container-title-top{
  width: 100%;
  height: 1vh;
  float: left;
}

.container-title-bottom{
  width: 100%;
  height: 0vh;
  float: left;
}

.container-title1 {
  margin-right:1vw;
  font-size: calc(min(36px, max(36px,3vw)));
  float: left;
  padding: 0;
  margin-bottom: 1vh;
}

.container-title2 {
  margin-right:1vw;
  font-size: calc(min(26px, max(26px,2vw)));
  font-family: 'Roboto';
  float: left;
  padding: 0;
  margin-top: calc(min(3px,max(3px,0.30vw)));
  margin-bottom: 1vh;
}

.fcolwidth {
  width: 23.5vw;
}

.fcolheight {
  height: 23.5vw;
}

@media only screen and (max-width: 1280px) {
  .fcolwidth {
  width: 48vw;
  }
  .fcolheight {
  height: 48vw;
  }
}

@media only screen and (max-width: 640px) {
  .fcolwidth {
  width: 97vw;
  }
  .fcolheight {
  height: 97vw;
  }
}

.threecolwidth{
  width: 31.66666vw;
}

@media only screen and (max-width: 640px) {
  .threecolwidth {
  width: 97vw;
  }

}

.tcolwidth {
  width: 48vw;
}    

.tcolheight {
  height: 48vw;
}



@media only screen and (max-width: 640px) {
  .tcolwidth {
  width: 97vw;
  }

  .tcolheight {
  height: 97vw;
  }
}

.ocolwidth {
    width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 20px;
  float: left;
}

.page-title {
  font-size: 38px;
  float: left;
  width: 100%;
}

.c1 > rect {
  fill: white !important;
  stroke: black !important;
  color: #000000 !important;
}

.chart-item {
  width: 208px;
  display: inline-block;
}

.chart-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 45px;
  color: black;
}

.chart-text {
  font-family: "Computer Modern Serif", serif;
  font-size: 22px;
  color: black;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;

}

.chart-text-title {
  font-family: "Computer Modern Serif", serif;
  font-size: 34px;
  color: black;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#chart1 {
  margin-bottom: 0vh;
  float: left;
  transform-origin: top left;
  height: 86vh;
}
#chart1-container {
  cursor: grab;
  width: 100%;
  height: 86vh;
  overflow: auto;
  float: left;
  margin-bottom: 2vh;
}

#chart2 {
  margin-bottom: 0vh;
  float: left;
  transform-origin: top left;
  height: 90vh;
}
#chart2-container {
  cursor: grab;
  width: 100%;
  height: 90vh;
  overflow: auto;
  float: left;
}

#icon {
  font-size: 24px;
  float: left;
  margin-right: 3vw;
  margin-top: -6px;
}

.timeline {
    float: left;
    background: linear-gradient(to right, #d0d1e6, #023858);
    color: black;
    margin-bottom: 16px;
}

.timestart {
    float: left;
    padding: 2px;
    color: black;
}

.timeend {
    float: right;
    padding: 2px;
    color: white;
}

.continent-colors {
    float: left;
    color: black;
    
}

.continent-item {
    float: left;
    color: black;
    margin-right: 6px;
    padding: 2px;
    margin-bottom: 16px;
    
}

#zoomIn {
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
  width: 160px;
}

#zoomOut{
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
  width: 160px;
}
#reset{
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
}

#zoomIn2 {
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
  width: 160px;
}

#zoomOut2{
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
  width: 160px;
}
#reset2{
  float: left;
  font-family: "Computer Modern Serif", serif;
  font-size: 18px;
}

.zoom {
  width: 98vw;
  float: left;
  margin-bottom: 1vh;
}
